body, html{
    height: 100%;
    margin:0;
    font-family: arial, sans-serif;
    font-size: small;
}

.center-section{
    position: absolute;
    top:0;
    width: 100%;
    min-height: 100vh;
}

header{
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    padding: 0px 29px;
    margin-top: 15px;
    right: 0;
    font-size: small;
}
header a{
    font-size: 13px;
    font-weight: 100;
    color: rgba(0, 0, 0, .87);
    padding-left: 15px;
    text-decoration: none;
}
header a:hover{
    color: rgba(0, 0, 0, .70);
    text-decoration: underline;
}
header .apps a {
    padding-left: 15px;
    color: rgba(0, 0, 0, .55);
}

header .apps a:hover {
    color: rgba(0, 0, 0, .87);
    cursor: pointer;
}

header .user img {
    border-radius: 50%;
}

.content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section {
    margin-top: 105px;
    right:0;
}

section .picture-img {
    text-align: center;
}

#searchForm {
    width: 100%;
    position: absolute;
    top: 311px;
}

.containerSearch-First{
    padding-top: 5px;
}

.searchBarData {
    position: relative;
    display: flex;
    max-width: 585px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    height: 44px;
    margin: 0 auto;
    width: auto;
    margin-top: -35px;
}
.searchBarData:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(233, 225, 229, 0);
}
.containerSearchBar {
    display: flex;
    flex: 1;
    line-height: 52px;
    padding: 5px 14px 0px 14px; 
}

.searchIcon {
    width: 20px;
    height: 20px;
    color: #9aa0a6;
    padding-right: 15px;
}
input {
    flex: 100%;
    border: none;
}
input:focus {
    outline: none;
}
.voiceIcon {
    margin-top: -10px;
}
.voiceIcon svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.buttons-form {
    padding-top: 20px;
    top: 53px;
    text-align: center;
}
.buttons-form  input[type="submit"] {
    color: #5F6368;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    height: 36px;
    padding: 0px 16px; 
    font-size: 14px;
    cursor: pointer;
    margin: 11px 4px;
}
.buttons-form input[type="submit"]:hover {
    background-color: #f8f8f8;
    color: #222;
    border: 1px solid #c6c6c6;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.buttons-form input[type="submit"]:focus{
    border: 1px solid #4d90fe;
    outline: none;  
}

.language {
    font-size: small;
    color: rgba(0, 0, 0, .87);
    text-align: center;
    margin-top: 15px;
}
a.languageLink {
    text-decoration: none;
    color: #1a0dab;
}
a.languageLink:hover{
    text-decoration: underline;
}
a.languageLink:visited{
    color: #1a0dab !important;
}

footer {
    width: 100%;
    background-color: #f2f2f2;
    color: #000;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    border: 1px solid #e4e4e4;
}

.container-footerI{
    text-align: left;
    height: 40px;
    border-bottom: 1px solid #e4e4e4;
}
.container-footerI div {
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
    line-height: 40px;
    margin-left: 30px; 
}

.container-footerII{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-left: 30px;
}
.Links{
    text-align: left;
    line-height: 40px;
    font-size: 14px;
}
.Links a {
    color: #5f6368;
    text-decoration: none;
    padding-right: 25px;
}
.Links a:hover {
    text-decoration: underline;
}
